root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2

[*.{c,h}]
file_header_template = Copyright © Clinton Ingram.  Licensed under the MIT License.
